<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Diese App benötigt Zugriff auf die Spracherkennung, um Ihre Sprachnotizen zu transkribieren.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Diese App benötigt Zugriff auf das Mikrofon, um Sprachnotizen aufzunehmen.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
